
body {
    background-image: url(../../../projects/portfolio/18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;


}

.header {
    padding: 10px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    
 

}

.header .small-logo {
    padding-left: 100px;
   


}

.header ul{
    padding-right: 100px;
    text-align: right;
    list-style: none;
    margin-top: -35px;
    display: flex;
    justify-content: right;
 

}

ul li {
    display: inline-block;
    padding-left: 10px;

}

/* Hero Image */

.hero {
    padding: 10px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: auto;
    justify-content: center;

}

.hero .hero-h2{
    font-size: 48px;
    font-weight: bold;
    margin: auto;
}

.hero .hero-text {
   width: 500px;
   height: 500px;
   padding-left: 100px;
   padding-top: 10px;

}
.hero .hero-image {
   
   margin: auto;
   
   
}

.hero .button1 button{
    position: absolute;
    left: 15%;
    transform: translate(-15%);
    background-color: beige;
    border: none;

}

/* Random Information */

.about {
    font-size: 20px; 
    font-weight: 500; 
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    min-height: 80vh
    
    

}

.about .about-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

.about .box {
    display: flex;
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 250px;
    margin: auto;

    

}

.icon {
    display: inline-block;
    padding: 8px;
    border: 5px solid aliceblue;
    border-radius: 10px;
}

.about .box .topic {
    width: 200px;
    height: 200px;
    font-size: 20px;
    text-align: center;
    
}

/* Quote Block */

.quote {
    
    font-size: 20px; 
    font-weight: 500; 
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 60vh;
    justify-content: center;
    color:aliceblue;
    font-style: italic;
    font-size: 36px;
    text-align: center;
    opacity: 0.9;
}

.quote .jj {
display: inline-flex;
padding-top: 250px;

}
.quote .jj2 {
    display: flex;
    padding-top: 0;
    padding-right: 350px;
    justify-content: right;
    font-weight: bold;
    font-size: 26px;
    
    }


/* Call to Action */

.calltoaction {
    font-size: 20px; 
    font-weight: 500; 
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    min-height: 50vh;
    display: flex;
}

.button-wrapper {
    background-color: rgba(246, 255, 255, 0.65);
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    display: flex;
}

.time {
    max-width: 65vh;
}

.cta-head {
    margin: 0;
    margin-top: 20px;
}

.cta-text {
   margin: 0;
   margin-bottom: 20px;
}

.button {
    margin: auto;

}

/* Footer */

.footer {
    font-size: 16px; 
    font-style: italic;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    min-height: 5vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;

}

.footer-text {
    color: white;
}